.container-fotos {
  text-align: center;
  font-size: 30px;
}

.container-galeria {
  width: auto;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding-inline: 20px;
}

@media (max-width: 768px) { 
  .container-galeria {
    height: auto;
    grid-template-columns: 1fr;
  }
}