footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 300px;
  margin-top: 50px;
}

#logo-footer {
  width: 150px;
  height: auto;
}

.footer-navigation {
  display: none;
}

@media (max-width: 768px) {
  footer {
    justify-content: flex-start;
    height: auto;
  }

  .footer-navigation {
    display: flex;
    width: 100%;
    padding-block: 5%;
  }

  .footer-navigation ul {
    flex-direction: column;
  }
}